@use '../../styles/mixins' as mixins;

.results-table {
  @include mixins.style-value-breakpoints(width, 30%, 45%, 100%, 100%, 100%, true);

  th, td {
    @include mixins.layout-bp(lt-lg) {
      padding: 4px 8px;
    }
  }

  tbody tr {
    &:first-of-type {
      background-color: gold;
    }

    &:nth-child(2) {
      background-color: silver;
    }

    &:nth-child(3) {
      background-color: burlywood;
    }

    &:first-of-type,
    &:nth-child(2),
    &:nth-child(3) {
      td {
        font-size: 17px;
        font-weight: bold;
      }
    }

    &:hover {
      cursor: pointer;
      opacity: .6;
    }
  }
}
