@use '../../styles/mixins' as mixins;

.car-table {
  height: fit-content;
  @include mixins.layout-bp(xl) {
    max-width: 376px;
  }
  @include mixins.layout-bp(lg) {
    width: 100%;
  }

  .amazing {
    background-color: #90EE90;
  }

  .good {
    background-color: #E9FCE9;
  }


  .bad {
    background-color: #FFE9EC;
  }

  .trash {
    background-color: #FF9999;
  }
}
