@use '../../styles/mixins' as mixins;

.car-carousel {
  @include mixins.layout-bp(lt-xl) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .carousel {
    @include mixins.style-value-breakpoints(max-width, 640px, 640px, 512px, 512px, 512px);
  }
}
