@use '../mixins' as mixins;

.configurator {
  @include mixins.style-value-breakpoints(width, 9%, 14%, 30%, 25%, 25%);
  margin-top: -64px;

  .goods, .bads {
    display: flex;
    flex-direction: column;
  }

  .bads {
    margin-bottom: 16px;
  }
}
