.configurator {
  width: 14vw;
  @media (min-width: 1920px) {
    width: 9vw;
  }
  margin-left: 32px;
  margin-top: -32px;

  .goods, .bads {
    display: flex;
    flex-direction: column;
  }

  .bads {
    margin-bottom: 16px;
  }
}
