@use './styles/mixins' as mixins;

body {
  --default-margin: 32px;
  --small-margin: 16px;
}

.App {
  text-align: center;

  .open-drawer-button {
    position: fixed;
    bottom: var(--small-margin);
    right: var(--small-margin);
  }
}

.App-header {
  text-align: center;
}

.App-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  .configurator {
    margin-left: var(--default-margin);
  }

  .results-table {
    @include mixins.style-simple-breakpoints(margin, 0 var(--default-margin) 96px, 0 var(--small-margin) 96px);
  }

  .car-table {
    margin-right: var(--default-margin);
    @include mixins.layout-bp(lg) {
      width: 30%;
    }
  }
}

.configurator-drawer .configurator {
  width: 184px;
  margin: 0 var(--default-margin);
}

.car-dialog {
  .MuiDialog-paper {
    .car-dialog-content {
      overflow-y: auto;

      .car-table {
        padding: 0 var(--small-margin);
        width: calc(100% - #{var(--small-margin)} * 2);
      }
    }
  }
}

.MuiBackdrop-root {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.MuiDialogTitle-root {
  display: flex;
  align-items: center;
  padding-right: calc(#{var(--small-margin)} / 2) !important;

  > span {
    flex: 1;
  }
}
