@use 'mixins' as mixins;

.App {
  text-align: center;
}

.App-header {
  text-align: center;
}

.App-content {
  display: flex;
  align-items: flex-start;

  .configurator {
    margin-left: 32px;
  }

  .results-table {
    margin-left: 32px;
    margin-right: 32px;
  }

  .car-table {
    margin-right: 32px;
  }
}
